/* Diseño index */
#fondo{
    background-color: #eee
}
.jumbotron{
    background-color: #fcc;
}
#news{
    background-image: linear-gradient(black, white);
}
h2{
    font-size: 48px; 
}
.par{
    border: 5px solid;
    border-color: #39BC07;
    background-color: #B5A3C8;
}
.impar{
    border: 5px solid;
    border-color: #42DBFF;
    border-radius: 20%;
    background-color: #7EF21C;
}
.fontStyle{
    font-family: fantasy;
    font-style: italic;

}
/* Diseño Formulario */
li{
    list-style: none;    
}

input{
    width: 220px;
    height: 20px;
}
form input:required{
    background-color: white;
}

form input[type="text"]:focus:valid{

    background-color: lightgreen;

}

form input[type="text"]:focus:invalid{

    background-color: lightsalmon;

}


span{
    display: none;
}

.submit{
    color: #FFFFFF;
    background-color: #00C802;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
label{
    width: 200px;
}


.contact-form input{
    transition: padding .25s;
    padding-right: 30px;
}


.email:focus + .format{display: inline; border-radius: 5px; color: #fff; background-color: red;}
.contact-form input:required:valid + .form_hint {background: #28921f;}

/* Diseño video */

.videoContainer{


    height: 360px;
    min-width: 600px;
    background-color: blue;

}
.content{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    justify-content: center;

}

#menu{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.menuHeader{
    background-color: #e8e8e8;
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    margin-bottom: 20px;
}
.menuTitle {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #797979;
    font-weight: bold;

}
.menuBlocks{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.listMenu {
    background-color: transparent;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 15px;
    padding-right: 25px;
    padding-left: 25px;
}

.listMenu:hover {
    background-color: #e8e8e8;
    color: #797979;
    cursor: pointer;
}


#leftContent {
    display: flex;
    width: 450px;
    background-color: #797979;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
}

#rightContent {
    display: flex;
    width: 600px;
    background-color: #797979;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 15px;
}
.bottomContent {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}


@media screen and (max-width: 700px) {
    .content {
        flex-direction: column;
    }
    .container {
        height: 600px;
    }
    #rightContent {
        width: 490px;
    }
}
a{
    text-decoration: none;

}
.cuadrado{
    height: 100px;
    width: 100px;
    background-color: green;
    margin-top: 10%;
    margin-left: 30%;
}
.cuadrado:hover{
    background-image: url("../img/rabbit2.jpg");
    background-size: cover;
    background-position: center;

}